<episode num="<%= @episode %>"></episode>
<paragraph num="<%= @paragraph %>"></paragraph>
<div id='episode-<%= @episode %>'>
  <div id='nav-point'>
    <div href="#paragraph-0-section-0"></div>
    <div href="#paragraph-0-section-1"></div>
    <div href="#paragraph-0-section-2"></div>
  </div>
  <div id="paragraph-0-section-0">
    <h1>基础词汇识记</h1>
    <div class='description'>
      1）单人操作，熟悉概念，作好准备 <br>
      2）第一阶段：熟悉基本词汇清单，记住概念以及相应的图片<br>
      4）第二阶段：软件会随机弹出相关图片，请在字盘上选择与之相对应的符号<br>
      5）识记准确率太低，则不能进入下一环节<br>
    </div>
  </div>
  <div id="paragraph-0-section-1">
    <div id="character-info">
      <div id='character-show' class="character character-empty"></div>
      <div id='character-meaning'></div>
    </div>
    <div id='character-panel'>
    <% for i in 0..58 do %>
    <div class="character character-key character-<%=i%>" id='character-key-<%=i%>' name="<%= @character_info[i] %>"></div>
    <% end %>
    </div>
  </div>
  <div id="paragraph-0-section-2">
    <div class='description'>
      准备周全，就进入下一步吧
    </div>
    <%= link_to game_episode_path(0, paragraph: 1, test: 4) do %>
      <button class="large">前进</button>
    <% end %>
  </div>
</div>
