<episode num="<%= @episode %>"></episode>
<paragraph num="<%= @paragraph %>"></paragraph>
<div id='episode-<%= @episode %>'>
  <div id='nav-point'>
    <div href="#paragraph-0-section-0"></div>
    <div href="#paragraph-0-section-1"></div>
    <div href="#paragraph-0-section-2"></div>
  </div>
  <div id="paragraph-0-section-0">
    <h1>文字识记</h1>
    <div class='description'>
      点击字盘上的文字以查看意义，从而认识它们
    </div>
  </div>
  <div id="paragraph-0-section-1">
    <div id="character-info">
      <div id='character-show' class="character character-empty"></div>
      <div id='character-meaning'></div>
    </div>
    <div id='character-panel'>
    <% for i in 0..58 do %>
    <div class="character character-key character-<%=i%>" id='character-key-<%=i%>' name="<%= @character_info[i] %>"></div>
    <% end %>
    </div>
  </div>
  <div id="paragraph-0-section-2">
    <div class='description'>
      准备周全，就进入下一步吧
    </div>
    <%= link_to game_episode_path(0, paragraph: 1) do %>
      <button class="large">前进</button>
    <% end %>
  </div>
</div>
