<%#image_tag 'test.jpg' %>
<!-- <div id="phaser-example">
</div> -->
<div id="main-logo"><img src="<%= image_path('main/logo.png') %>"></div>
<div id="main-title"><img src="<%= image_path('main/title.png') %>"></div>
<div id="main-header"></div>
<div id="main-header-decor"><img src="<%= image_path('main/header-decor.png') %>"></div>
<div id="main-background"></div>
<div id="content">
  <div id="menu">
    <div id="main-menu-header">教师系统</div>
    <div id="main-menu">
      <div id="menu-tree">
        <div class="tree-base-header"></div>
        <div class="tree-base-body">
          <div class="tree-select active"></div>
          <div class="tree-select"></div>
          <div class="tree-select"></div>
          <div class="tree-select"></div>
          <div class="tree-select"></div>
        </div>
        <div class="tree-base-header"></div>
      </div>
      <div id="select-titles">
        <div class="select-title active">实验项目</div>
        <div class="select-title">新建实验</div>
        <div class="select-title">实验详情</div>
        <div class="select-title">实验报告</div>
        <div class="select-title">结果分析</div>
      </div>
    </div>
  </div>
  <div id="right-content">
    <div id="main-nav">
      <div id="nav-mark"></div>
      <div id="nav-title">实验项目</div>
      <div id="nav-logout">注销</div>
    </div>

    <div id="experiment-container">
      <div id="new-experiment"><i class="icon-plus"></i>新建实验</div>
      <div id="experiment-list-container">

      <% @experiments.each do |e| %>
        <div class="experiment-cell">
          
          <div class="experiment-cell-title"><%= link_to e[:index] , e[:path], target: '_blank' %></div>
          <div class="experiment-cell-detail">
            <span class="experiment-cell-detail-name"><%= e[:name] %></span>
            <span class="experiment-cell-progressbar">
              <div class="experiment-cell-progressbar-body">
                <%# http://demo.doyoe.com/css/inline-block-space/ %>
                <% for i in 0..2 do %><div class="experiment-cell-progressbar-circle<%= ' active' if i<=e[:progress] %>"><%= i+1 %></div><% end %>
              </div>
              <div class="experiment-cell-progressbar-step">待实验</div>
              <div class="experiment-cell-progressbar-step">进行中</div>
              <div class="experiment-cell-progressbar-step">已完成</div>
            </span>
            <span class="experiment-cell-teacher">教师：王小帅</span>
            <span class="experiment-cell-date"><%= l Date.today %></span>
            <span class="experiment-cell-remove"><i class="icon-remove"></i></span>
          </div>
          <span class="result-button">结果查询</span>
        </div>
      <% end %>

      </div>

      <div id="experiment-paginate">
        <span class="page-nav pre"><i class="icon-double-angle-left"></i></span>
        <% for i in 1..5 do %>
        <div class="page-num<%= ' active' if i==4 %>"><%= i %></div>
        <% end %>
        <span class="page-nav next"><i class="icon-double-angle-right"></i></span>
      </div>
    </div>
  </div>
</div>
<div id='copy-right' class="main">
  南开大学文学实验教学中心版权所有 <br>
  Copyright 2014 © Nankai University the Experimental Teaching Center for Arts. All rights reserved.
</div>