<episode num="<%= @episode %>"></episode>
<paragraph num="<%= @paragraph %>"></paragraph>
<div id='episode-<%= @episode %>'>
  <div id='nav-point'>
    <div href="#paragraph-0-section-0"></div>
    <div href="#paragraph-0-section-1"></div>
    <div href="#paragraph-0-section-2"></div>
  </div>
  <div id="paragraph-0-section-0">
    <h1>识别新事物 创造新词汇</h1>
    <div class='description'>
      1）单人操作，根据出现的事物，体会新词汇创造 <br>
      2）在地图上游走，移动过程中会碰到各种新事物（包括动植物和非生命体），用<br>
       （1）已给定的60个词语组合<br>
       （2）改写己有字符<br>
       （3）创造新字符。然后点击“保存”<br>
      3）教师点评、归纳词汇创造的基本方式<br>
    </div>
  </div>
  <div id="paragraph-0-section-1">
    <div class='mask'>
      <div id='gameover'>游戏结束</div>
    </div>
    <div id="game-start"><button>开始</button></div>
    <div class="game-func-button" id="game-brush"><button>画笔</button></div>
    <div class="game-func-button" id="game-eraser"><button>橡皮</button></div>
    <div class="game-func-button" id="game-new-character"><button>造字</button></div>
    <div id="glyph-<%= @episode %>-<%= @paragraph %>" class = 'glyph-screen'>
    </div>
  </div>
  <div id="paragraph-0-section-2">
    <div id="pre-result">
      请先完成上方的探索任务
    </div>
    <div id="result-show">
      <div class='description'>
        恭喜你完成了全部探索 <br>
        <%= link_to '返回', game_path %>
      </div>
    </div>
  </div>
</div>
